:root {
    --color-primary: #0061FF;
    --color-secondary: #B4D0E7;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    background-color: var(--color-primary);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-size: 5rem;
    padding-bottom: 2.5rem;
}

h2 {
    font-size: 3rem;
    padding-bottom: 2.5rem;
}

h3 {
    font-size: 1.7rem;
    padding-bottom: 2rem;
}

ul {
    list-style: none;
}

header .nav-bar ul {
    display: flex;
    align-items: center;
}

.large-container i {
    font-size: 3rem;
    padding-top: 3rem;
} 

header a {
    text-decoration: none;
    color: black;
    padding: 1.5rem 1.5rem;
    font-size: 1.2rem;
}

header .nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: white;
}

header .nav-container {
    display: flex;
    padding: 1.5rem 0;
    justify-content: space-between;
}

.nav-container .nav-left {
    display: flex;
    align-items: center;
}

.nav-container .nav-right {
    padding-right: 1.5rem;
}

header .jumbotron-background {
    background-color: var(--color-secondary);
    margin-top: 87px;
}

.large-container {
    max-width: 1200px;
    margin: auto;
    padding-top: 4rem;
}

.main-title {
    display: flex;
    font-size: 1.3rem;
}

.row-left {
    width: 30%;
}

.row-right {
    width: 70%;
    margin-bottom: -5rem;
}

.large-container .main-title button,i {
    margin: 1.5rem 0;
}

#i-fix1,#i-fix2,#i-fix3,#i-fix4 {
    margin: 0.7rem;
}

.mid-container {
    max-width: 920px;
    margin: auto;
}

.mid-container.margin {
    margin-top: 10rem;
}

section span {
    padding-right: 3rem;
}

.card-body li {
    display: flex;
    align-items: baseline;
}

.card-body li i {
    padding-right: 0.5rem;
}

section .card-container {
    display: flex;
    padding-top: 3rem;
    justify-content: space-between;
}

section .card {
    border: 1px solid lightgray;
    width: 30%;
}

section .card-header {
    border-bottom: 1px solid lightgray;
}

.card .card-title {
    font-size: 1.2rem;
    text-align: center;
}

.hr-rule {
    width: 50px;
    border-bottom: 1px solid lightgray;
    margin: 2rem 0;
}

ul.bold li:first-child {
    font-weight: bold;
    padding-left: 1rem;
}

ul.bold i {
    font-size: large;
    padding-right: 0.5rem;
    color: #0061FF;
}

.mid-container .txt-bold {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.card-body .padding-fix {
    padding-top: 1rem;
}

.card .card-body {
    padding: 1rem;
}

.card .card-body button {
    margin: 1rem 0;
}

.card-body .padding-fix.grey {
    color: grey;
}

.bottom-card-container {
    margin: 3rem 0;
    border: 1px solid lightgray;
}

.bottom-card-container .bot-flex {
    display: flex;
}

.bottom-card-container .bot-card {
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.bottom-card-container .bot-txt-left {
    padding: 2rem;
    width: 60%;
}

.bottom-card-container .bot-txt-right {
    width: 40%;
    text-align: center;
    padding-top: 2rem;
}

.bottom-card-container .padding-fix {
    padding: 3rem 0 0.5rem 0;
}

main .mid-box {
    display: flex;
    padding-bottom: 6rem;
    padding-top: 3rem;
}

main .mid-box .midbox-img {
    width: 60%;
}

main .mid-box .midbox-txt {
    width: 40%;
    padding: 2rem 0 0 3rem;
}

main .mid-box .midbox-txt p {
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

main .mid-box .midbox-txt button {
    background-color: white;
    color: black;
    border: 1px solid black;
}

main .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .cards-container .img-container {
    width: 30%;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

main .bot-box {
    padding: 6rem 0;
}

main .bot-box .botbox-txt {
    width: 80%;
}

main .bot-box .botbox-space {
    width: 20%;
}

main .mid-container a {
    color: var(--color-primary);
}

section .row-container .row {
    display: flex;
}

section .row-container .row .column {
    width: 33.3%;
    padding-bottom: 10rem;
}

section .row-container .row .column.mid {
    background-color: #F5F5F5;
}

section .hr-footer {
    width: 100px;
    border-bottom: 1px solid lightgray;
    margin: 3rem 0;
}

section .column.mid .txt-space {
    padding-top: 2.5rem;
}

section .mid-bg {
    background-color: var(--color-secondary);
}

section .mid-container {
    width: 920px;
    margin: 0 auto;
    padding: 5rem 0;
}

section .mid-bg .mid-container {
    display: flex;
    align-items: baseline;
}

section .mid-bg .mid-container h2 {
    color: #61082B;
}

section .mid-bg .mid-container .rowleft {
    width: 70%;
}

section .mid-bg .mid-container .rowright {
    width: 30%;
}

section .mid-bg .mid-container button {
    background-color: white;
    color: black;
    border: 1px solid transparent;
}

section .mid-container h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

section .mid-container .faq-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-top: 1px solid grey;
    padding: 1rem 0;
}

section .mid-container .faq-container:last-child {
    border-bottom: 1px solid grey;
    margin-bottom: 3rem;
}

footer .footer-background {
    background-color: black;
}