* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
}

h1 {
    font-size: 5rem;
}

.large-container i {
    font-size: 3rem;
    padding-top: 3rem;
} 

.large-container img {
    display: block;
    width: 100%;
}

header button {
    background-color: #0061FF;
}

header a {
    text-decoration: none;
    color: black;
    padding: 0 1rem;
    font-size: 1.2rem;
}

header .nav-left img {
    padding-right: 1.5rem;
}

header .nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: white;
}

header .nav-container {
    display: flex;
    padding: 1.5rem 0;
    justify-content: space-between;
}

.nav-container .nav-left {
    display: flex;
    align-items: center;
}

.nav-container .nav-right {
    padding-right: 1.5rem;
}

header .jumbotron-background {
    background-color: #B4D0E7;
    margin-top: 87px;
}

.large-container {
    max-width: 1200px;
    margin: auto;
    padding-top: 4rem;
}

.main-title {
    display: flex;
    padding-top: 2.5rem;
    font-size: 1.3rem;
}

.row-left {
    width: 30%;
}

.row-right {
    width: 70%;
    margin-bottom: -5rem;
}

.large-container .main-title button,i {
    margin: 1.5rem 0;
}
